doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Sarapiqui Paddle Sports
    link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
    link(rel="stylesheet", href="/assets/css/all.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.css")
    link(rel="stylesheet", href="/assets/css/style.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet")
  body
    br
    br
    br
    div(style="display:flex;justify-content:center;aling-items:center;")
            form.form_main(action="/login" method="POST")
                img(width="150rem" src="images/logo.png", alt="")
                p.heading Login
                if codigoError == 2
                  div.alert.reject
                    p CONTRASEÑA INCORRECTA
                if codigoError == 1
                  div.alert.reject
                    p USUARIO NO ENCONTRADO
                div.inputContainer
                    label(style="margin:0;") DNI:
                    input.inputField(name="cedula" type="text", id="cedula", placeholder="Digite su DNI")
                div.inputContainer
                    label(style="margin:0;") Password:
                    input.inputField(name="pass" type="password", id="password", placeholder="Password")
                button#button(type="submit") Submit
                div.signupContainer
                    p Don't have any account?
                    a(href="/singup") Sign up
                    a(href="/pdf/tutorial_sps_0.1.pdf" target="_blank") Instructions
  script(src="/assets/js/jquery-3.2.1.min.js")
  script(src="/assets/js/popper.min.js")
  script(src="/assets/js/bootstrap.min.js")
  script(src="/assets/js/owl.carousel.min.js")
  script(src="/assets/js/owl.carousel.js")
  script(src="/assets/js/script.js")
  script(src="/javascripts/main.js")
  script(src="/javascripts/alert.js")