doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Sarapiqui Paddle Sports
    link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
    link(rel="stylesheet", href="/assets/css/all.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.css")
    link(rel="stylesheet", href="/assets/css/style.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet")
  body
    //- ======================header started======================
    header
      .my-nav(style="background:rgba(0, 33, 71, 0.9);")
        .container
          .row
            .nav-items
              .menu-toggle
              .logo
                img(src="images/logo.png" style="width:5rem;")
              .menu-items
                .menu
                  ul
                    li
                      a(href="/") Home
                    li
                      .dropdown
                        button(onclick="myFunction('myDropdown')" class="dropbtn" style="padding:0;") Education
                        #myDropdown.dropdown-content                          
                          button(class="subDropdown dropbtn" onclick="openSubDropdown('students')") Students
                          #students.subdropdowm.hidden
                            a(class="subDropdown dropbtn" href="/login") Login
                            //a(class="dropbtn subdropbtn" href=`/student-list`) List
                            a(class="dropbtn subdropbtn" href=`/courses-list`) COURSES
                          button(class="subDropdown dropbtn" onclick="openSubDropdown('sport')") Sport
                          #sport.subdropdowm.hidden
                    li
                      .dropdown
                        button(onclick="myFunction('myDropdown2')" class="dropbtn" style="padding:0;") Trips
                        #myDropdown2.dropdown-content
                          a(class="subDropdown dropbtn" href="#") One Day Tour
                          a(class="subDropdown dropbtn" href="/oneweek") One Week Tour
                          a(class="subDropdown dropbtn" href="#") One Month Tour
                    li
                      a(href="/about") About Us
                    li
                      a(href="/staff") Our Staff
                    li
                      a(href="/gallery") Gallery
                    li
                      a(href="/contact") Contact Us
    br
    br
    br
    br
    br
    h1(style="color:black;") SPS Costa Rica White Water Week
    div(class="about-container")
      div(style="width:100%;padding:2rem;")
        h3(style="color:black;") Trip Includes:
        div(style="display:flex;align-items:center;")
          img(src="/images/add.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p(style="padding:0;") All Meals from Dinner on Day 1 through Breakfast on Day 8
        div(style="display:flex;align-items:center;")
          img(src="/images/add.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p(style="padding:0;") 7 Nights accommodation, Sarapiquí paddle sports base including 1 night at Jungle Camp on the Pacuare River
        div(style="display:flex;align-items:center;")
          img(src="/images/add.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p(style="padding:0;") 6 Days of whitewater kayaking or rafting (weather/water level dependent)
        div(style="display:flex;align-items:center;")
          img(src="/images/add.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p(style="padding:0;") Raft support along the white water week (in case you get tired or want to experience the river without having to kayak on Class II +IV rapids)
        div(style="display:flex;align-items:center;")
          img(src="/images/add.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p(style="padding:0;") Airport Transfers + All Ground Transportation
        div(style="display:flex;align-items:center;")
          img(src="/images/add.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p(style="padding:0;") All guides
        br
        h3(style="color:black;") What’s Not Included?
        div(style="display:flex;align-items:center;")
          img(src="/images/close.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p(style="padding:0;") Airfare
        div(style="display:flex;align-items:center;")
          img(src="/images/close.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p(style="padding:0;") Tips and Gratuities
        div(style="display:flex;align-items:center;")
          img(src="/images/close.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p(style="padding:0;") Alcohol
        div(style="display:flex;align-items:center;justify-content:center;")
          a.btn-book(href="/contact") BOOK NOW
      div(class="about-text-container" style="padding:1rem;width:100%;")
        img(src="images/gallery/gallery (25).jpeg", alt="")
    h1(style="color:black;") Choose your river
    .tab 
      button.tablinks(onclick="openTab(event, 'RioSarapiqui')") Río Sarapiquí
      button.tablinks(onclick="openTab(event, 'RioToro')") Río Toro
      button.tablinks(onclick="openTab(event, 'UpperPuertoViejo')") Upper Puerto Viejo
      button.tablinks(onclick="openTab(event, 'RioSucio')") Río Sucio
      button.tablinks(onclick="openTab(event, 'RioToroAmarillo')") Río Toro Amarillo
      button.tablinks(onclick="openTab(event, 'PacuareRiver')") Pacuare River
      button.tablinks(onclick="openTab(event, 'PejibayeRiver')") Pejibaye River
    #RioSarapiqui.tabcontent.mySlides
      h1.tourText Río Sarapiquí
      div(class="about-container")
        div(style="width:100%;padding:2rem;")
          p(style="padding:0;") The Río Sarapiquí (sarah-PIH-key), which originates between the slopes of volcanoes Poas and Barva, freefalls over a long series of cataracts and waterfalls before entering the Sarapiqui River Valley. Just east of San Miguel, the Sarapiquí's gradient becomes a manageable 92 feet per mile...
          h3 Lower Sarapiquí
          div(style="display:flex;align-items:center;")
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") La Virgen to El Roble
          div(style="display:flex;align-items:center;")
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") Length: 6 miles
          div(style="display:flex;align-items:center;")
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") Gradient: 58 feet per mile
          div(style="display:flex;align-items:center;")
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") Class: II-III+
          div(style="display:flex;align-items:center;")
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") Suitable levels: 800 - 2,500 C.F.S.
          div(style="display:flex;align-items:center;")
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") Season: All year
          div(style="display:flex;align-items:center;")
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") The Lower Sarapiquí offers the best of many worlds and has much to offer paddlers of all ability levels...
          h3 From San Miguel to La Virgen
          div(style="display:flex;align-items:center;")   
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") Length: 7 miles
          div(style="display:flex;align-items:center;")
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") Grade: 92 feet per mile
          div(style="display:flex;align-items:center;")
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") Class: IV (IV+)
          div(style="display:flex;align-items:center;")
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") Suitable levels: 700-1,700 cubic feet per second
          div(style="display:flex;align-items:center;")
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") Season: Year-round
          div(style="display:flex;align-items:center;")
              img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
              p(style="padding:0;") If you like to ride long, continuous Class IV rapids that demand precise eddy jumps and strong countercurrent moves, you'll have a blast on the San Miguel section of the Sarapiquí...
          br
          div(style="display:flex;align-items:center;justify-content:center;")
              a.btn-book(href="/contact") BOOK NOW
          br
    #RioToro.tabcontent.mySlides    
      h1.tourText Río Toro
      p A fascinating blend of regional river characteristics merge to create the exceptional river experience that is the Río Toro (TOR-oh). The Toro rampages off the western slope of Volcano Poas and unloads the bulk of its fury as it laces through a massive gorge...
      h3 Casa Maquinas
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Length: 3.6 miles
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Grade: 163 feet per mile
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Class: IV-V
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Suitable levels: 450-1000 cubic feet per second
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Season: Year-round (depending on dam releases)
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Absolutely committed and simply magnificent, this may be the most impressive run in all of Costa Rica...
      h3 Recreo Verde
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p From Recreo Verde to Highway 162
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Length: 3 miles
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Grade: 110 feet per mile
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Class: III+ to IV
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Suitable levels: 600-2000 cubic feet per second
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Season: Year-round (depending on dam releases)
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p The starting point for this section is within Recreo Verde...
      h3 Upper Toro
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Highway 162 to Pital
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Length: 7.5 miles
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Grade: 84 feet per mile
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Class: III+ (IV)
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Suitable levels: 550-1700 cubic feet per second
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Season: Year-round (depending on dam releases)
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p The Upper Toro begins in the same beautiful, deep gorge as the two sections upstream...
      br
      div(style="display:flex;align-items:center;justify-content:center;")
          a.btn-book(href="/contact") BOOK NOW
      br
    #UpperPuertoViejo.tabcontent.mySlides
      h1.tourText Upper Puerto Viejo
      p Few boaters have heard of the Puerto Viejo River, but those who have traveled it have no doubt that this beautiful stretch of rapids is destined to take its place among Costa Rican classics...
      h3 Cubujuqui Sector B to Cubujuqui Sector A
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Length: 2.2 miles
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Grade: 137 feet per mile
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Class: IV+
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Suitable levels: 700-1,700 cubic feet per second
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Season: May to January
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p If you've run the San Miguel del Sarapiquí section before, you'll feel right at home...
      h3 Lower Puerto Viejo
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p From Cubujuqui A to Horquetas
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Length: 5 miles
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Grade: 38 feet per mile
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Class: II-III+
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Suitable water levels: 700-2,500 cfs
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Season: Year-round
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Lower Puerto Viejo cuts a rugged course that parallels the eastern flank of Braulio Carrillo National Park...
      br
      div(style="display:flex;align-items:center;justify-content:center;")
          a.btn-book(href="/contact") BOOK NOW
      br
    #RioSucio.tabcontent.mySlides
      h1.tourText Río Sucio
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Length: 6 miles
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Slope: 132 feet per mile
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Class: IV (IV+)
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Suitable levels: 0-2200 cubic feet per second
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Season: Year-round
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Since rainforests are among the best water filtration systems in the world, you might expect only the purest water to flow from Braulio Carrillo. However, the reality you'll find at the edge of the Rio Sucio is quite different...
      br
      div(style="display:flex;align-items:center;justify-content:center;")
          a.btn-book(href="/contact") BOOK NOW
      br
    #RioToroAmarillo.tabcontent.mySlides
      h1.tourText Río Toro Amarillo
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Length: 4 miles
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Grade: 131 feet per mile
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Class: IV+ (V)
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Navigable levels: 700 - 1,500 cubic feet per second
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Season: May through February
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Don't be fooled by the names. Beyond regional proximity, the Rio Toro and the Toro Amarillo River don't have much in common...
      br
      div(style="display:flex;align-items:center;justify-content:center;")
          a.btn-book(href="/contact") BOOK NOW
      br
    #PacuareRiver.tabcontent.mySlides
      h1.tourText Pacuare River
      p The Pacuare River is wild and wonderful. Frequently featured on lists of the world's most spectacular whitewater rivers, the five sections of the Pacuare River make up more than 60 miles of truly unforgettable whitewater...
      h3 Lower Pacuare
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Tres Equuis Highway to Braulio Carrillo
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Length: 16 miles
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Grade: 50 feet per mile
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Class: III+ (IV)
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Navigable Levels: 800 - 2200 cubic feet per second
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p Season: Year-round
      div(style="display:flex;align-items:center;")
          img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
          p When people talk about the magnificent Pacuare River, they are usually referring to this section...
      br
      div(style="display:flex;align-items:center;justify-content:center;")
          a.btn-book(href="/contact") BOOK NOW
      br
    #PejibayeRiver.tabcontent.mySlides
      h1.tourText Pejibaye River
      div(style="display:flex;align-items:center;")
        img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
        p The Pejibaye River is a scenically charming river that runs parallel to a small sugarcane farming community that shares the same name...
      div(style="display:flex;align-items:center;")
        img(src="/images/chevron_forward.png", style="width:10px;height:10px;padding:0;margin-right:0.3rem;" alt="", srcset="")
        p The two popular sections of the Pejibaye are linked by their excellent water quality and beautiful scenery, although they have very different personalities...
      br
      div(style="display:flex;align-items:center;justify-content:center;")
          a.btn-book(href="/contact") BOOK NOW
      br
    a(href="https://api.whatsapp.com/send?phone=50660437366", class="btnWhatsapp", id="btnWhatsapp", target="_blank")
      img(src="https://www.freepnglogos.com/uploads/whatsapp-logo-png-transparent-33.png", style="width:100%", alt="whatsapp button")
    footer
      .container
        .row
          .col-lg-3.col-md-3.col-sm-6.col-12
            h3 SARAPIQUI PADDLE SPORT
            p Come discover the best water adventures in Costa Rica with Sarapiquí Paddle Sports.
          .col-lg-3.col-md-3.col-sm-6.col-12
            h3 Quick Links
            ol
              li(style="text-align:center;")
                a(href="/") Home
              li(style="text-align:center;")
                a(href="/about") About Us
              li(style="text-align:center;")
                a(href="/staff") Our Staff
              li(style="text-align:center;")
                a(href="/gallery") Gallery
              li(style="text-align:center;")
                a(href="/contact") Contact Us
          .col-lg-3.col-md-3.col-sm-6.col-12
            h3 Contact Us
            form#emailForm
              .form-group
                input(type="email", name="email", placeholder="Your Email", required)
              .form-group
                textarea(name="text", placeholder="Message")
              .form-group  
                button(type="submit") Submit
          .col-12
            .copy-right
              p © 2024 Sarapiqui Paddle Sports
    script(src="/assets/js/jquery-3.2.1.min.js")
    script(src="/assets/js/popper.min.js")
    script(src="/assets/js/bootstrap.min.js")
    script(src="/assets/js/owl.carousel.min.js")
    script(src="/assets/js/owl.carousel.js")
    script(src="/assets/js/script.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/alert.js")