doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Sarapiqui Paddle Sports
    link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
    link(rel="stylesheet", href="/assets/css/all.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.css")
    link(rel="stylesheet", href="/assets/css/style.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet")
  body
    br
    br
    br
    div(style="display:flex;justify-content:center;aling-items:center;")
      form.form_main(action="/singup", method="POST")
        p.heading Sign Up
        if codigoError == 2
          div.alert.reject
            p COMPLETE TODOS LOS ESPACIOS
        if codigoError == 1
          div.alert.reject
            p USUARIO YA REGISTRADO
        if codigoError == 0
          div.alert.resolve
            p USUARIO REGISTRADO CORRECTAMENTE
        div.inputContainer
            label Nombre:
            input.inputField(name="nombre" type="text" placeholder="Nombre")
        div.inputContainer
            label Apellidos:
            input.inputField(name="apellidos" type="text" placeholder="Apellidos")
        div.inputContainer
            label Fecha de Nacimiento:
            input.inputField(name="dob" type="date")
        div.inputContainer
            label Tipo de Cuenta:
            select.inputField(name="tipo_cuenta")
              option(value="2") Estudiante
              option(value="1") Instructor
        div.inputContainer
            label Tipo de Cédula:
            select.inputField(name="tipo_cedula")
              option(value="dni") Nacional
              option(value="pasaporte") Pasaporte
              option(value="otro") Otro
        div.inputContainer
            label DNI:
            input.inputField(name="cedula" type="text" placeholder="Cédula")
        div.inputContainer
            label Nacionalidad:
            select.inputField(name="nacionalidad")
              each flag in flags
                option(value=flag.codigo) #{flag.nombre}
        div.inputContainer
            label Código Estudiante o Instructor:
            input.inputField(name="aca_codigo" type="text" placeholder="Estudiante código")
        input.inputField(name="fecha" type="hidden")
        div.inputContainer
            label Correo:
            input.inputField(name="email" type="email" placeholder="Correo Electrónico")
        div.inputContainer
            label Contraseña:
            input.inputField(name="contra" type="text" placeholder="Contraseña")
        div.inputContainer
            label Teléfono:
            input.inputField(name="telefono" type="tel" placeholder="Teléfono")
        div.inputContainer
            label Sangre opcional:
            input.inputField(name="sangre" type="text" placeholder="Sangre opcional")
        button#button(type="submit") Sign Up
        div.signupContainer
            p ¿Ya tienes una cuenta?
            a(href="/login") Iniciar Sesion
  script(src="/assets/js/jquery-3.2.1.min.js")
  script(src="/assets/js/popper.min.js")
  script(src="/assets/js/bootstrap.min.js")
  script(src="/assets/js/owl.carousel.min.js")
  script(src="/assets/js/owl.carousel.js")
  script(src="/assets/js/script.js")
  script(src="/javascripts/main.js")
  script(src="/javascripts/alert.js")