doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Sarapiqui Paddle Sports
    link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
    link(rel="stylesheet", href="/assets/css/all.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.css")
    link(rel="stylesheet", href="/assets/css/style.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet")
  body
    //- ======================header started======================
    header
      .my-nav(style="background:rgba(0, 33, 71, 0.9);")
        .container
          .row
            .nav-items
              .menu-toggle
              .logo
                img(src="images/logo.png" style="width:5rem;")
              .menu-items
                .menu
                  ul
                    li
                      a(href="/") Home
                    li
                      .dropdown
                        button(onclick="myFunction('myDropdown')" class="dropbtn" style="padding:0;") Education
                        #myDropdown.dropdown-content
                          //button(class="subDropdown dropbtn" onclick="openSubDropdown('instructors')") Instructors
                          
                          
                          button(class="subDropdown dropbtn" onclick="openSubDropdown('students')") Students
                          #students.subdropdowm.hidden
                            a(class="subDropdown dropbtn" href="/login") Login
                            //a(class="dropbtn subdropbtn" href=`/student-list`) List
                            a(class="dropbtn subdropbtn" href=`/courses-list`) COURSES
                            
                          button(class="subDropdown dropbtn" onclick="openSubDropdown('sport')") Sport
                          #sport.subdropdowm.hidden
                            //button(class="dropbtn subdropbtn" onclick="") Sport #1
                            //button(class="dropbtn subdropbtn" onclick="") Sport #2
                            //button(class="dropbtn subdropbtn" onclick="") Sport #3

                    li
                      .dropdown
                        button(onclick="myFunction('myDropdown2')" class="dropbtn" style="padding:0;") Trips
                        #myDropdown2.dropdown-content
                          a(class="subDropdown dropbtn" href="#") One Day Tour
                          a(class="subDropdown dropbtn" href="/oneweek") One Week Tour
                          a(class="subDropdown dropbtn" href="#") One Month Tour
                    li
                      a(href="/about") About Us
                    li
                      a(href="/staff") Our Staff
                    li
                      a(href="/gallery") Gallery
                    li
                      a(href="/contact") Contact Us
    br
    br
    br
    br
    br
    section.team
      .container
        .heading
          h2 OUR TEAM
        .item
          .team-card
            .image-team
              img(src="images/index/img-21.jpg")
            .team-content
              h3 Stanley Esquivel
              p(style="padding: 0;margin: 0;") Lead Instructor
              //ol
                li(style="margin:0 0.5rem;")
                  
                //li(style="margin:0 0.5rem;")
                  i.fab.fa-facebook-f(style="font-size:1rem;")
                //li(style="margin:0 0.5rem;")
                  i.fab.fa-instagram(style="font-size:1rem;")
                //li(style="margin:0 0.5rem;")
                  i.fab.fa-linkedin-in(style="font-size:1rem;")
                //li(style="margin:0 0.5rem;")
                  i.fab.fa-pinterest-p(style="font-size:1rem;")
              p Stanley Esquivel Mesen is a highly experienced and internationally certified instructor in swiftwater rescue, whitewater rafting, and kayaking. With numerous certifications from the American Canoe Association and extensive experience guiding and instructing in Costa Rica and abroad, Stanley brings unparalleled expertise to Sarapiquí Paddle Sports.
              p Stanley has contributed to the book *Chasing Jaguars*, which focuses on whitewater opportunities in Costa Rica. He is certified by the [American Canoe Association](https://americancanoe.org/) as a swiftwater rescue instructor, raft paddle technical instructor, and river guide instructor.
              p As a member of the [World Rafting Federation](https://worldraftingfederation.com/structure/commissions/24-wrf-training-guide-program-commission/67-stanley-esquivel-mesen), his passion for the sport and sharing adventures is reflected in his company, which offers options for exploring 37 different rivers in Costa Rica.
              // "Show More" Button
              // Hidden Details Section
              .details(style="display:none;" id="stanley-details")
                ul
                  li(style="color: #444444;") Swiftwater Rescue Level 4 Instructor, American Canoe Association
                  li(style="color: #444444;") Whitewater Rafting-Paddle Level 4 Instructor, American Canoe Association
                  li(style="color: #444444;") Chair holder of Safety Educational Instructional Committee-Rescue, American Canoe Association
                  li(style="color: #444444;") Director of Education, Federacion Costarricense de Rafting
                  li(style="color: #444444;") First Aid and CPR Certifications, Up to Date
                p His accomplishments include:
                ul
                  li(style="color: #444444;") First Place, Chorro Race 2018 (Master Men)
                  li(style="color: #444444;") 3rd Place Overall, World Championships, Neuquén, Argentina 2018 (Master Mens, R4)
                  li(style="color: #444444;") Multiple National Championships in Freestyle and Extreme Kayak
                p Stanley has also participated in over 200 freestyle kayaking events worldwide and contributed to the book *Chasing Jaguars*, which highlights Costa Rica's whitewater options.
                p For more details, contact Stanley:
                ul
                  li(style="color: #444444;")
                    a(href="https://www.facebook.com/share/1AkwntBr2o/?mibextid=qi2Omg", target="_blank") Facebook
                  li(style="color: #444444;") Email: sarapiquipaddless@gmail.com
                  li(style="color: #444444;") Phone: +(506) 6043 7366
                  li(style="color: #444444;") Location: Sarapiquí, Costa Rica
              button.btn.btn-primary(onclick="toggleDetails('stanley-details')") Show More

    a(href="https://api.whatsapp.com/send?phone=50660437366", class="btnWhatsapp", id="btnWhatsapp", target="_blank")
      img(src="https://www.freepnglogos.com/uploads/whatsapp-logo-png-transparent-33.png", style="width:100%", alt="whatsapp button")
    footer
      .container
        .row
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 SARAPIQUI PADDLE SPORT
              p Come discover the best water adventures in Costa Rica with Sarapiquí Paddle Sports.
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 Quick Links
              ol
                li(style="text-align:center;")
                  a(href="/") Home
                li(style="text-align:center;")
                  a(href="/about") About Us
                li(style="text-align:center;")
                  a(href="/staff") Our Staff
                li(style="text-align:center;")
                  a(href="/gallery") Gallery
                li(style="text-align:center;")
                  a(href="/contact") Contact Us
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 Contact Us
              form#emailForm
                .form-group
                  input(type="email", name="email", placeholder="Your Email", required)
                .form-group
                  textarea(name="text", placeholder="Message")
                .form-group  
                  button(type="submit") Submit
          .col-12
            .copy-right
              p © 2024 Sarapiqui Paddle Sports


  script(src="/assets/js/jquery-3.2.1.min.js")
  script(src="/assets/js/popper.min.js")
  script(src="/assets/js/bootstrap.min.js")
  script(src="/assets/js/owl.carousel.min.js")
  script(src="/assets/js/owl.carousel.js")
  script(src="/assets/js/script.js")
  script(src="/javascripts/main.js")
  script(src="/javascripts/alert.js")
  script(type="text/javascript").
    function toggleDetails(detailId) {
      var details = document.getElementById(detailId);
      if (details.style.display === 'none') {
        details.style.display = 'block';
        event.target.textContent = 'Show Less';
      } else {
        details.style.display = 'none';
        event.target.textContent = 'Show More';
      }
    }
